@import '@fontsource/inter';
@import "tailwindcss";

/* Theme tokens */
@theme {
  /* --color-background: #121212; */
  --color-background: rgb(16,16,20);
  --color-primary: #ffffff;
  --color-card: #1e1e1e;
  --color-border: #2a2a2a;
}

/* Base styles */
@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply bg-background text-primary antialiased;
  }
}

/* Custom components */
@layer components {
  .page-container {
    @apply max-w-7xl mx-auto px-6;
  }

  .section-spacing {
    @apply py-16;
  }

  .card-base {
    @apply bg-card border border-border rounded-2xl p-6;
  }

  .transition-default {
    @apply transition-all duration-300 ease-in-out;
  }

  .btn-primary {
    @apply px-4 py-2 rounded-xl bg-white text-black font-medium hover:opacity-90;
  }

  .promosiAktif {
    @apply bg-white/20 hover:bg-white/20!;
  }
}